body {
    background-image: url('./wallpaper.jpg');
    background-size: cover;
     background-repeat: no-repeat;
    height: 800px;
    overflow-x:hidden;  
}
.head{
width: 110%;
background-color:#03142c;
padding-top: 25px;
padding-bottom: 25px;
/* margin-left: -10px;  */
margin-top: -10px;
margin-right: 10px;
}
h2{
color: white;
/* float: left; */
font-style: italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
width: 120px;
margin: 0 auto;
padding-right: 140px;
/* margin-bottom: 150px; */
}

#but2,#but3,#but5{
width: 100px;
border: none;
color: aliceblue;
border-radius: 5px;
height: 40px;
margin-left: 15px;
float: right;
margin-top: -24px;
outline: none;
background-color:#2a3f5c;

}

#but4,#but1{
    width: 100px;
    border: none;
    color: aliceblue;
    border-radius: 5px;
    height: 40px;
    margin-left: 15px;
    float: left;
    margin-top: -24px;
    outline: none;
    background-color:#2a3f5c;
    
}

#but1:hover{
    border: 2px solid rgb(133, 219, 245);
}
#but2:hover{
    border: 2px solid rgb(133, 219, 245);
}
#but3:hover{
    border: 2px solid rgb(133, 219, 245);
}
#but4:hover,#but5:hover{
    border: 2px solid rgb(133, 219, 245);
}
/* #but1{
margin-left: 10px; 
}
#but2{
margin-right: 2px;
}
.but1:hover{
border: 1px solid white;
} */
.nav{
margin-right: 90px;
}   
/* img{
float: left;
margin-top: -10px;
} */
.container {
width: 400px;
margin: 0 auto;
padding-top: 25px;
}

input {
padding-left: 10px;
border-radius: 5px;
width: 250px;
margin-left: 50px;
margin-right: 50px;
height: 22px;
border-top: none;
border-right: none;
border-left: none;
border-color: black;
box-shadow: none;
outline: none;
}
select{
padding-left: 10px;
border-radius: 5px;
width: 260px;
margin-left: 50px;
margin-right: 50px;
height: 22px;
border-top: none;
border-right: none;
border-left: none;
border-color: black;
box-shadow: none;
outline: none;
}

input:focus {
border-color: orange;

}

.button {
width: 120px;
margin-left: 115px;
background-color: teal;
border: none;
color: aliceblue;
border-radius: 5px;
height: 30px;

}

.rpBut {
margin-left: 50px;
width: 260px;
padding-left: 10px;
}

#submitButton{
margin-top: 10px;
}
a{
text-decoration: none;
color: white;
font-style: italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}

#style-1::-webkit-scrollbar-track,.terminal::-webkit-scrollbar-track,body::-webkit-scrollbar-track {
	-webkit-box-shadow: #03142c;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar,.terminal::-webkit-scrollbar,body::-webkit-scrollbar {
	width: 12px;
    height: 14px;
    border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb,.terminal::-webkit-scrollbar-thumb,#mainContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: #03142c;
	background-color: #2a3f5c;
}

.terminal {
    margin-left: 2px;
    height: 380px;
    width: 100%;
    background-color:#2a3f5c;
    border-radius: 5px;
    border: 2px solid #03142c;
    color: wheat;
    overflow-y: scroll;
}
.terminal #terminal-result{
    margin:3px;
}
#terminal-result #status-success{
    color: rgb(116, 243, 116);
}
#status-inprogress,.status-inprogress{
    color: orange;
}

#status-failure{
    color: #ff8d8d;
}

p{
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    h2 {
        color: white;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
        width: 120px;
        margin: -16px auto;
        padding-right: 76px;
        margin-bottom: 0px;
    }

    .head {
        width: 110%;
        background-color: #03142c;
        padding-top: 25px;
        padding-bottom: 60px;
        /* margin-left: -10px; */
        margin-top: -10px;
        margin-right: 10px;
    }

    #but4, #but1 {
        width: 100px;
        border: none;
        color: aliceblue;
        border-radius: 5px;
        height: 40px;
        margin-left: 15px;
        float: left;
        margin-top: 12px;
        outline: none;
        background-color: #2a3f5c;
    }

    #but2, #but3 {
        width: 100px;
        border: none;
        color: aliceblue;
        border-radius: 5px;
        height: 40px;
        margin-left: 15px;
        float: right;
        margin-top: 12px;
        outline: none;
        background-color: #2a3f5c;
    }
  }
 